<div class="container">
  <div class="row align-items-center ">
    <div class="col-sm">
      <h1 class="display-1">Dictée Musicale</h1>
      <p class="lead">Bonjour ! Je suis un programme qui invente automatiquement des dictées musicales, te permet de les
        écouter et de vérifier ce que tu as trouvé en lisant la solution.</p>
      <p><span class="badge badge-info">Nouveau</span><em>
          Je sais dorénavant te proposer des dictées de rythmes !</em></p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm mt-2 pt-2 app-heading">
      <h2>Avant de commencer</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm">
      <p>Pour m'utiliser, voici comment faire&nbsp;: tu vas d'abord me donner ici les quelques informations dont j'ai
        besoin pour te proposer une dictée adaptée à
        ce que tu sais déjà. Tu sais probablement choisir tout(e) seul(e), mais si tu as un doute, demande à un parent,
        un(e) autre élève ou à ton professeur de t'aider.</p>
      <p>Voici ce que je dois savoir</p>
      <ul>
        <li>La note la plus basse et la note la plus haute que tu connais</li>
        <li>L'intervalle maximal possible entre deux notes&nbsp;: seconde <em>(= notes conjointes)</em>, tierce, quarte,
          quinte, sixte</li>
        <li>Les rythmes que je peux te proposer</li>
        <li>La longueur de la dictée&nbsp;: je peux pour l'instant te proposer des dictées sur 1 à 4 mesures de 4 temps,
          soit 4, 8, 12 ou 16 pulsations</li>
      </ul>
    </div>
  </div>
  <div class="row align-items-center mt-2 pt-2 app-heading">
    <div class="col-sm">
      <h2>Réglages</h2>
      <h3>
        Hauteurs de notes et intervalles
      </h3>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-sm">
      <div class="row align-items-center">
        <div class="col-sm-1">
          <div class="row align-items-center">
            <button class="btn btn-info  btn-block" (click)="adjustLowestNote(+1)">↑</button>
          </div>
          <div class="row align-items-center">
            <div class="col-sm">
              <div class="badge badge-light"><span>note basse</span></div>
            </div>
          </div>
          <div class="row align-items-center">
            <button class="btn btn-warning  btn-block" (click)="adjustLowestNote(-1)">↓</button>
          </div>
        </div>
        <div class="col-sm-2">
          <app-score-view [notes]="lowestNote" [isVisible]="true" [displayClef]="true" [displayTimeSignature]="false">
          </app-score-view>
        </div>
        <div class="col-sm-1">
          <div class="row align-items-center">
            <button class="btn btn-info  btn-block" (click)="adjustHighestNote(+1)">↑</button>
          </div>
          <div class="row align-items-center">
            <div class="col-sm">
              <div class="badge badge-light  text-centered"><span>note haute</span></div>
            </div>
          </div>
          <div class="row align-items-center">
            <button class="btn btn-warning btn-block" (click)="adjustHighestNote(-1)">↓</button>
          </div>
        </div>
        <div class="col-sm-2">
          <app-score-view [notes]="highestNote" [isVisible]="true" [displayClef]="true" [displayTimeSignature]="false">
          </app-score-view>
        </div>
        <div class="col-sm-1">
          <div class="row align-items-center">
            <button class="btn btn-info  btn-block" (click)="adjustMaxInterval(+1)">↑</button>
          </div>
          <div class="row align-items-center">
            <div class="col-sm">
              <div class="badge badge-light"><span>intervalles</span></div>
            </div>
          </div>
          <div class="row align-items-center">
            <button class="btn btn-warning btn-block" (click)="adjustMaxInterval(-1)">↓</button>
          </div>
        </div>
        <div class="col-sm-2">
          <p>
            <span *ngFor="let interval of intervals" class="badge badge-secondary text-uppercase">{{interval}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-2 pt-2 app-heading">
    <div class="col-sm">
      <h3>
        Rythmes
      </h3>
    </div>
  </div>
  <!-- Rhythmic mode selection -->

  <div class="row mt-2 pt-2">
    <div class="col-sm-2">
      <button class="btn btn-block btn-info" (click)="setRhythmicMode(ValueGeneratorSettings.RhythmicMode.Binary)">
        Binaire
      </button>
    </div>

    <div class="col-sm-2">
      <button class="btn btn-block btn-info" (click)="setRhythmicMode(ValueGeneratorSettings.RhythmicMode.Ternary)">
        Ternaire
      </button>
    </div>

  </div>

  <div class="row align-items-center">
    <div *ngFor="let music of totalRhythms; even as e; index as i;">
      <div style="text-align: center;" [class]="e ? 'bg-light' : ''">
        <app-score-view [notes]="music" [showOnlyRhythm]="true" [isVisible]="true" [displayClef]="true"
          [displayTimeSignature]="false" [rhythmicMode]="rhythmicMode"></app-score-view>
        <input type="checkbox" [checked]="selectedRhythms[i]" (change)="selectedRhythms[i] = !selectedRhythms[i]">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center mt-2 pt-2 app-heading">
    <div class="col-sm">
      <h2>Allons-y</h2>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm">
      <p>Je suis prête !
        Quand tu le seras, dis-moi combien de pulsations tu souhaites, et demande-moi d'inventer une dictée mélodique,
        rythmique, ou même globale en actionnant le bouton correspondant.</p>
      <dl class="row">
        <dt class="col-sm-2">Dictée mélodique</dt>
        <dd class="col-sm-10">Cette dictée consiste à trouver seulement les hauteurs de notes&nbsp;: je te donne la
          première note, et les rythmes</dd>
        <dt class="col-sm-2">Dictée ryhtmique</dt>
        <dd class="col-sm-10">Pour celle-ci, tu n'as que les rythmes à trouver&nbsp;: je te donne les notes et la
          pulsation, à
          toi de trouver les rythmes</dd>
        <dt class="col-sm-2">Dictée globale</dt>
        <dd class="col-sm-10">C'est à toi de trouver toute la musique&nbsp;: les notes, et les rythmes. Je ne t'indique
          que la pulsation</dd>
      </dl>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-1">
      <div class="badge badge-light text-centered"><span>pulsations</span></div>
    </div>
    <div class="col-sm-1">
      <div class="row align-items-center mt-1">
        <button class="btn btn-info  btn-block" (click)="adjustNbBeats(+1)">↑</button>
      </div>
      <div class="row align-items-center mt-1">
        <span class="btn btn-light btn-block">{{nbBeats}}
        </span>
      </div>
      <div class="row align-items-center mt-1">
        <button class="btn btn-warning btn-block" (click)="adjustNbBeats(-1)">↓</button>
      </div>
    </div>
    <div class="col-sm-1" style="height:100%;">
    </div>

    <div class=col-sm-2 style="height:100%;">
      <div class="row mt-1">
        <button class="btn btn-info btn-block" (click)="generateNotes('Melodic');scroll(solution);">
          Dictée Mélodique
        </button>
      </div>
      <div class="row mt-1">
        <button class="btn btn-info btn-block" (click)="generateNotes('Rhythmic');scroll(solution);">
          Dictée Rythmique
        </button>
      </div>
      <div class="row mt-1">
        <button class="btn btn-info btn-block" (click)="generateNotes('Global');scroll(solution);">
          Dictée Globale
        </button>
      </div>
    </div>
  </div>
  <div class="container" [class]="notes ? 'visible' : 'invisible'">
    <div class="row align-items-center mt-2 pt-2 app-heading">
      <div class="col-sm">
        <h2>Indices</h2>
      </div>
    </div>
    <div class="row align-items-center mt-2 pt-2"
      [style]="(dictationMode != DictationMode.Rhythmic ? '' : 'display:none;')">
      <div class="col-sm-2">
        <p>Voici la première note que tu vas entendre</p>
      </div>
      <div class="col-sm-2">
        <app-score-view [notes]="notes ? firstNote : undefined" [isVisible]="true" [displayClef]="true"
          [displayTimeSignature]="false" [showOnlyPitches]="true"></app-score-view>
      </div>
    </div>
    <div class="row align-items-center"
      [style]="(dictationMode == DictationMode.Melodic ? 'display:block;' : 'display:none;')">
      <div class="col-sm">
        Et voici les rythmes
      </div>
    </div>
    <div class="row align-items-center"
      [style]="(dictationMode == DictationMode.Rhythmic ? 'display:block;' : 'display:none;')">
      <div class="col-sm">
        Voici les hauteurs des notes que tu vas entendre
      </div>
    </div>
    <div class="row align-items-center"
      [style]="(dictationMode != DictationMode.Global ? 'display:block;' : 'display:none;')">
      <div class="col-sm">
        <app-score-view #clues [showOnlyPitches]="dictationMode==DictationMode.Rhythmic"
          [notes]="notes ? notes : undefined" [displayClef]="true"
          [timeSignature]="musicSettings.valueSettings.timeSignature" [displayTimeSignature]="true"
          [showOnlyRhythm]="dictationMode==DictationMode.Melodic" [isVisible]="dictationMode != DictationMode.Global">
        </app-score-view>
      </div>
    </div>
    <div class="row align-items-center mt-2 pt-2  app-heading" [class]="notes ? 'visible' : 'invisible'">
      <div class="col-sm">
        <h2>À toi de jouer</h2>
      </div>
    </div>
    <div class="row mt-2 pt-2 align-items-center">
      <div class="col-sm-6">
        <p>Maintenant, tu peux écouter la dictée autant de fois que tu le souhaites...
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-1">
        <img src="assets/metronome.svg" alt="metronome" style="max-width: 100%; max-height: 50px;">
      </div>
      <div class="col-sm-1">
        <div class="row align-items-center mt-1">
          <button class="btn btn-info  btn-block" (click)="adjustTempo(+1)">↑</button>
        </div>
        <div class="row align-items-center mt-1" style="height:100%;">
          <span class="btn btn-light btn-block">{{bpm}}
          </span>
        </div>
        <div class="row align-items-center mt-1">
          <button class="btn btn-warning btn-block" (click)="adjustTempo(-1)">↓</button>
        </div>
      </div>
      <div class="col-sm-1">
        <img src="assets/ear.svg" alt="metronome" style="max-width: 100%; max-height: 50px;">
      </div>

      <div class="col-sm-2">
        <div class="row align-items-center">
          <app-music-play class="container" [tempo]="bpm" [notes]="notes"
            [addMetronome]="dictationMode!=DictationMode.Melodic" [beatValue]="musicPlayBeatValue">
          </app-music-play>
        </div>
      </div>
    </div>
    <div class="row mt-2 pt-2 align-items-center">
      <div class="col-sm-6">
        <p>... puis découvrir la solution
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-6">
        <button [disabled]="notes==null"
          [ngClass]="'btn btn-block text-capitalize ' + (showSolution ? 'btn-warning' : 'btn-info')"
          (click)="toggleShowSolution()">
          {{ showSolution ? 'Cache la Solution' : 'Affiche la Solution' }}
        </button>
      </div>
    </div>

    <div #solution class="row align-items-center ">
      <div class="col-sm">
        <app-score-view [notes]="notes" [timeSignature]="musicSettings.valueSettings.timeSignature" [displayClef]="true"
          [displayTimeSignature]="true" [isVisible]="showSolution">
        </app-score-view>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>Quand tu auras fini, retourne en haut de la page pour recommencer, après avoir éventuellement changé les
          paramètres.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <p><small class="text-muted"><em>&copy; Christophe Migliorini 2020. Ce site a pu voir le jour grâce aux
          (ou à cause des) circonstances exceptionnelles du confinement général de la population française décrété en
          mars 2020, sur une idée et avec l'aide précieuse de Cécile Coqu, musicienne et professeur de formation
          musicale. View code on <a href="https://github.com/cmigliorini/musical-partner/" target="_blank"
            rel="noopener noreferrer">GitHub</a></em></small></p>
  </div>